@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.eot");
  src: url("../font/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Roboto-Regular.woff2") format("woff2"),
    url("../font/Roboto-Regular.woff") format("woff"),
    url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: 0;
}

body {
  background-color: #0f1214;
}

.rdrDateDisplayWrapper {
  background-color: #272727;
}

.rdrCalendarWrapper {
  background-color: #272727;
}

.rdrDayDisabled {
  background-color: #424242;
  border-radius: 45px;
}

.rdrDayNumber span {
  color: white;
}
